.design-index-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  flex-wrap: wrap;
}

.design-card {
  margin: 15px;
  width: 400px;
  height: 300px;
  border: 1px solid #ccc;
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.75);
  transition: box-shadow .2s;
  transition: transform .5s;
}

.design-card:hover {
  box-shadow: 0px 15px 35px 0px rgba(0,0,0,0.75);
  transform: translateY(-5px);
}


img {
  width: 400px;
  height: 300px;
}


/*small 400x300
big 800x600*/
