.design-index-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.design-card {
  margin: 15px;
  width: 400px;
  height: 300px;
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.75);
  transition: transform .5s;
  border-radius: 4px;
  cursor: pointer;
}

.design-card:hover {
  box-shadow: 0px 15px 35px 0px rgba(0,0,0,0.75);
  transform: translateY(-5px);
}

.design-url-index-item img {
  width: 400px;
  height: 300px;
  border-radius: 4px;
}






.design-show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 50px);
}

.main-design-show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 1400px) {
  .main-design-show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
}


.design-details-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 320px;
  max-width: 320px;
  height: 600px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
  overflow: auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 25px;
  transition: margin-right 1s;
}

@media screen and (min-width: 1400px) {
  .design-details-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-width: 320px;
    max-width: 320px;
    height: 600px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
    overflow: auto;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 25px;
    margin-right: 50px;
    margin-left: 25px;
  }
}

.details-title-username-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 50px;
}


.design-title {
  font-size: 32px;
  margin-bottom: 10px;
  display: flex;
  font-weight: bold;
}

.design-username {
  font-size: 20px;
}

.design-desc {
  padding-top: 15px;
  padding-bottom: 50px;
  text-align: center;
  font-style: italic;
  border-bottom: 1px solid #ccc;
}

.comment {
  padding: 45px 25px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}


.design-url-show {
  width: 667px;
  height: 600px;
  border-radius: 3px;
  position: relative;
  margin-left: 25px;
  transition: margin-left 1s;
}

@media screen and (min-width: 1400px) {
  .design-url-show {
    width: 667px;
    height: 600px;
    margin-left: 50px;
    margin-right: 25px;
    margin-top: 25px;
    border-radius: 3px;
    position: relative;
  }
}

.design-url-show img {
  width: 667px;
  height: 500px;
  border-radius: 3px;
  cursor: crosshair;
}

.comment-form-box {
  display: flex;
  flex-direction: column;
  width: 667px;
  height: 100px;
  background-color: white;
  transform: translateY(-3px);
  border-top: 1px solid #ccc;
  transition: opacity 1s;
}

@media screen and (min-width: 1400px) {
  .comment-form-box {
    display: flex;
    flex-direction: column;
    width: 667px;
    background-color: white;
    transform: translateY(-3px);
    border-top: 1px solid #ccc;
  }
}



.design-show-back {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

@media screen and (min-width: 1400px) {
  .design-show-back {
    align-self: flex-start;
    justify-content: flex-start;
    margin-bottom: 50px;
  }
}

.back-to-index-btn {
  height: 50px;
  background-color: #ee6e73;
  opacity: .7;
  padding: 0px 25px;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.75);
  margin-left: 40px;
  transition: all 1s;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: .5px;
}

.back-to-index-btn:hover {
  background-color: #E3696E;
  box-shadow: 0px 15px 35px 0px rgba(0,0,0,0.75);
  transform: translateY(-5px);
  cursor: pointer;
}



.explore-features-btn {
  height: 50px;
  background-color: #ee6e73;
  opacity: .7;
  padding: 0px 25px;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.75);
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: .5px;
  margin-left: 50px;
}

.explore-features-btn:hover {
  background-color: #E3696E;
  box-shadow: 0px 15px 35px 0px rgba(0,0,0,0.75);
  transform: translateY(-5px);
  cursor: pointer;
}

@media screen and (min-width: 1400px) {
  .explore-features-btn {
    margin-left: 25px;
  }
}



.left-design {
  width: 70px;
  height: 70px;
  background-color : #f57171;
  opacity: .6;
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.75);
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 13px;
  border-radius: 50px;
  transition: all .5s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 60px;
  left: 25px;
}

@media screen and (min-width: 1400px) {
  .left-design {
    top: 400px;
    width: 100px;
    height: 100px;
    margin-top: 0px;
  }
}

.left-design:hover {
  box-shadow: 0px 15px 35px 0px rgba(0,0,0,0.75);
  transform: translateY(-5px);
}

.left-arrow {
  width: 40px;
  height: 40px;
  padding-right: 5px;
}

@media screen and (min-width: 1400px) {
  .left-arrow {
    width: 70px;
    height: 70px;
    padding-right: 10px;
  }
}

.right-design {
  width: 70px;
  height: 70px;
  background-color : #f57171;
  opacity: .6;
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.75);
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 13px;
  border-radius: 50px;
  transition: all .5s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 25px;
}

@media screen and (min-width: 1400px) {
  .right-design {
    top: 400px;
    width: 100px;
    height: 100px;
    margin-top: 0px;
  }
}

.right-design:hover {
  box-shadow: 0px 15px 35px 0px rgba(0,0,0,0.75);
  transform: translateY(-5px);
}

.right-arrow {
  width: 40px;
  height: 40px;
  padding-left: 5px;
}

@media screen and (min-width: 1400px) {
  .right-arrow {
    width: 70px;
    height: 70px;
    padding-left: 10px;
  }
}

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#yellow-comment-pin {
  transition: left 1.5s, top 1.5s;
}
