.fullscreen-bg {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    margin-top: 50px;
}

.back-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: -99;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: 300%;
    left: -100%;
  }
}

.hidden-overflow {
  overflow: hidden;
}

.splash-main {
  font-size: 64px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-main-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // background-color: rgba(204, 204, 204, 0.6);
  padding: 15px;
}

.splash-title-tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.tagline {
  align-self: flex-end;
}

.tagline img {
  width: 400px;
}

.logo img {
  width: 600px;
}
